*{
  margin: 0;
  padding: 0;
}
.wrap{
  font-family: Noto Sans KR;
}

.header_wrap{
  width: 100%;
  height: 64px;
  min-width: 1200px;
  /* background-color: #9ADCFF; */
}

.header{
  height: fit-content;
  text-align: center;
}

.content_wrap{
  width: 100%;
  min-width: 1200px;
  /* background-color: #FFF89A; */
}

.content{
  width: 1200px;
  min-height: 900px;
  margin: 0 auto;
}

.left_wrap {
width: 900px;
min-height: 900px;
background-color: #ffd8d2;
float: left;
}

.right_wrap {
float: left;
min-height: 900px;
background-color: #ffc7be;

}

.profile_wrap, .menu_wrap{
  width: 300px;
}

.profile_wrap{
  width: 260px;
  background-color: #fdaa9d;
  padding: 20px;
}

.profile_wrap > .MuiCard-root{
  /* margin: 10px auto 0 auto; */
}

.menu_wrap{
  height: 400px;
}

.footer_wrap{
  clear: both;
  background-color: #FF8AAE;
  text-align: center;
}

.footer{
  width: 1200px;
  margin: 0 auto;
  background-color: #ff5588;
  height: 100px;
}